<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="logAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%green(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%logger{10}) [%X{traceId:-},%X{spanId:-}] - %msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="logAppender"/>
    </root>
<!--    <logger name="framework.templates.springbootwebflux" level="DEBUG"/>-->
</configuration>
